{{ define "title" }} "Create a New Snippet" {{ end }}

{{ define "main" }}
<form action="/create/snippet" method="POST">
	<!-- CSRF pass key -->
	<input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
	<div>
		<label for="title">Title</label>
		{{ with .Form.FieldErrors.Title }}
		<label class="error">{{ . }}</label>
		{{ end }}
		<input type="text" name="title" value="{{ .Form.Title }}">
	</div>
	<div>
		<label for="content">Content</label>
		{{ with .Form.FieldErrors.Content }}
		<label for="content" class="error">{{ . }}</label>
		{{ end }}
		<textarea name="content" id="content">{{ .Form.Content }}</textarea>
	</div>
	<div>
		<label for="expires">Delete In:</label>
		{{ with .Form.FieldErrors.Expires }}
		<label for="expires" class="error">{{ . }}</label>
		{{ end }}
		<input type="radio" name="expires" value="1 day" {{ if (eq .Form.Expires "1 day" ) }}checked{{ end }}> One Day
		<input type="radio" name="expires" value="1 week" {{ if (eq .Form.Expires "1 week" ) }}checked{{ end }}> One Week
		<input type="radio" name="expires" value="1 month" {{ if (eq .Form.Expires "1 month" ) }}checked{{ end }}> One Month
		<input type="radio" name="expires" value="1 year" {{ if (eq .Form.Expires "1 year" ) }}checked{{ end }}> One Year
	</div>
	<div>
		<input type="submit" value="Publish New Snippet">
	</div>
</form>
{{ end }}

<!-- 
vim: ts=2 sw=2 fdm=indent 
-->
